<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.projetgoldnet">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjetGoldNet"
        tools:targetApi="31">

        <!-- MAIN ACTIVITY - LA QUE SE ABRE AL INICIAR LA APP -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- DASHBOARD - PANTALLA PRINCIPAL DESPUÉS DEL LOGIN -->
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />

        <!-- PRODUCTOS - DONDE ESTÁN LAS CADENAS -->
        <activity
            android:name=".ProductsActivity"
            android:exported="false" />

        <!-- CARRITO - MI CARRITO -->
        <activity
            android:name=".Cart_Activity"
            android:exported="false" />

        <!-- REGISTRO - CREAR CUENTA -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <!-- RESEÑAS - OPINIONES DE CLIENTES -->
        <activity
            android:name=".ReviewsActivity"
            android:exported="false" />

    </application>

</manifest>